<a href="https://colab.research.google.com/github/guillainbisimwa/hpnk-indicateurs/blob/master/labo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
# Importer un csv

In [18]:
import pandas as pd
import io

In [19]:
from google.colab import files
uploaded = files.upload()

Saving labo3.csv to labo3.csv

In [20]:
df = pd.read_csv(io.BytesIO(uploaded['labo3.csv'])) 
print(df)

          Code       Nom  ...          EVT_TYPE_EXAMEN_VALUE Unnamed: 10
0     121359.0  mwendiki  ...                       Glycémie         NaN
1     121062.0    kevine  ...              Sédiment urinaire         NaN
2     120935.0   itinywe  ...             Hémogramme complet         NaN
3     121603.0  nakainda  ...              Sédiment urinaire         NaN
4     121603.0  nakainda  ...                Selles directes         NaN
...        ...       ...  ...                            ...         ...
1655       NaN  Kabangwa  ...                       Glycémie         NaN
1656       NaN  Kabangwa  ...                     Créatinine         NaN
1657       NaN  Kabangwa  ...                 Goutte épaisse         NaN
1658       NaN  Kabangwa  ...                           Urée         NaN
1659       NaN  Kabangwa  ...  Vitesse de sédimentation (VS)         NaN

[1660 rows x 11 columns]

In [21]:
df.head(10)

       Code       Nom  ... EVT_TYPE_EXAMEN_VALUE Unnamed: 10
0  121359.0  mwendiki  ...              Glycémie         NaN
1  121062.0    kevine  ...     Sédiment urinaire         NaN
2  120935.0   itinywe  ...    Hémogramme complet         NaN
3  121603.0  nakainda  ...     Sédiment urinaire         NaN
4  121603.0  nakainda  ...       Selles directes         NaN
5  121654.0     amani  ...      CRP Quantitative         NaN
6  121654.0     amani  ...    Hémogramme complet         NaN
7  121653.0      idda  ...    Hémogramme complet         NaN
8  121653.0      idda  ...      CRP Quantitative         NaN
9  121653.0      idda  ...              Widal TH         NaN

[10 rows x 11 columns]

In [22]:
examen = df["EVT_TYPE_EXAMEN_VALUE"]
print(examen)

0                            Glycémie
1                   Sédiment urinaire
2                  Hémogramme complet
3                   Sédiment urinaire
4                     Selles directes
                    ...
1655                         Glycémie
1656                       Créatinine
1657                   Goutte épaisse
1658                             Urée
1659    Vitesse de sédimentation (VS)
Name: EVT_TYPE_EXAMEN_VALUE, Length: 1660, dtype: object