In [2]:
# LOAD DATASET

In [3]:
import pandas as pd
import io
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [117]:
raw = pd.read_csv("dataset/JAN/LABO15.csv", sep=';')

In [118]:
# RESHAPE
## EVT_PREL_FAIT, EVT_TYPE_EXAMEN_VALUE, Date

In [119]:
df = raw.loc[:,['EVT_TYPE_EXAMEN_VALUE', 'EVT_PREL_FAIT', 'COMPLETED']]
#df = raw["EVT_TYPE_EXAMEN_VALUE"]
print(df)

     EVT_TYPE_EXAMEN_VALUE  EVT_PREL_FAIT  COMPLETED
0                      NaN          False      False
1          Selles directes           True       True
2                 Widal TO           True       True
3            TDR Paludisme           True       True
4                 Widal TH           True       True
...                    ...            ...        ...
4468                   NaN          False      False
4469              Widal TH           True       True
4470              Widal TO           True       True
4471            Cr�atinine           True       True
4472         TDR Paludisme           True       True

[4473 rows x 3 columns]

In [120]:
df = df.groupby(['EVT_TYPE_EXAMEN_VALUE']).count()

In [121]:
df.shape
df.head(20)

                          EVT_PREL_FAIT  COMPLETED
EVT_TYPE_EXAMEN_VALUE
ABO & RH (D)                         58         58
AFP                                   3          3
ALAT (GPT)                           32         32
ASAT (GOT)                           32         32
ASLO quantitatif                     31         31
Ac H pylori (sang)                  134        134
Ac HIV 1 & 2                         94         94
Acide urique                         15         15
Ag Chlamydia trachomatis              5          5
Albumine                              1          1
Amylase                              17         17
Bandelette urinaire (BU)              2          2
Bilirubine directe                    7          7
Bilirubine indirecte                  7          7
Bilirubine totale                     7          7
CRP Quantitative                    411        411
Cholest�rol total                    49         49
Cr�atinine                          122        122
D-DIMER                               5          5
ECBU / Uroculture                    14         14

In [122]:
# IMPORT TYPE EXAM

In [123]:
raw2 = pd.read_csv("dataset/JAN/TYPE_EX.csv", sep=';')

In [124]:
print(raw2)

             EVT_TYPE_EXAMEN_VALUE           TYPE
0                ECBU / Uroculture  BACTERIOLOGIE
1              Ecouvillon de gorge  BACTERIOLOGIE
2   Ecouvillon de l'oreille droite  BACTERIOLOGIE
3   Ecouvillon de l'oreille gauche  BACTERIOLOGIE
4             Frottis ur�tral gram  BACTERIOLOGIE
..                             ...            ...
77                         Rubeole      SEROLOGIE
78                            Toxo      SEROLOGIE
79                       VDRL/TPHA      SEROLOGIE
80                        Widal TH      SEROLOGIE
81                        Widal TO      SEROLOGIE

[82 rows x 2 columns]

In [125]:
print(raw2[raw2.values  == "ECBU / Uroculture"])

  EVT_TYPE_EXAMEN_VALUE           TYPE
0     ECBU / Uroculture  BACTERIOLOGIE

In [126]:
line = raw2[raw2.values  == "ECBU / Uroculture"]
print(line['TYPE'])

0    BACTERIOLOGIE
Name: TYPE, dtype: object

In [132]:
df = df.astype({"COMPLETED": str})

for index, row in df.iterrows():
    print()
    #df.at[index, 'COMPLETED'] = 0
    line = raw2[raw2.values  == index]
    print(line)
    for i, r in line.iterrows():
        df.at[index, 'COMPLETED'] = line.at[i, 'TYPE']
        #print(r)
        #print(line.at[i, 'EVT_TYPE_EXAMEN_VALUE'])

   EVT_TYPE_EXAMEN_VALUE         TYPE
34          ABO & RH (D)  HEMATOLOGIE

   EVT_TYPE_EXAMEN_VALUE          TYPE
45                   AFP  HORMONOLOGIE

  EVT_TYPE_EXAMEN_VALUE       TYPE
9            ALAT (GPT)  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
12            ASAT (GOT)  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
71      ASLO quantitatif  SEROLOGIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
67    Ac H pylori (sang)  SEROLOGIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
68          Ac HIV 1 & 2  SEROLOGIE

  EVT_TYPE_EXAMEN_VALUE       TYPE
8          Acide urique  BIOCHIMIE

       EVT_TYPE_EXAMEN_VALUE       TYPE
69  Ag Chlamydia trachomatis  SEROLOGIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
10              Albumine  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
11               Amylase  BIOCHIMIE

       EVT_TYPE_EXAMEN_VALUE       TYPE
13  Bandelette urinaire (BU)  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
14    Bilirubine directe  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
15  Bilirubine indirecte  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
16     Bilirubine totale  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
72      CRP Quantitative  SEROLOGIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
18     Cholest�rol total  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
19            Cr�atinine  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
73               D-DIMER  SEROLOGIE

  EVT_TYPE_EXAMEN_VALUE           TYPE
0     ECBU / Uroculture  BACTERIOLOGIE

            EVT_TYPE_EXAMEN_VALUE           TYPE
3  Ecouvillon de l'oreille gauche  BACTERIOLOGIE

   EVT_TYPE_EXAMEN_VALUE          TYPE
47                   FSH  HORMONOLOGIE

        EVT_TYPE_EXAMEN_VALUE       TYPE
74  Fact. Rhumat. Quantitatif  SEROLOGIE

   EVT_TYPE_EXAMEN_VALUE         TYPE
35  Formule leucocytaire  HEMATOLOGIE

   EVT_TYPE_EXAMEN_VALUE           TYPE
58       Frottis sanguin  PARASITOLOGIE

  EVT_TYPE_EXAMEN_VALUE           TYPE
4  Frottis ur�tral gram  BACTERIOLOGIE

      EVT_TYPE_EXAMEN_VALUE           TYPE
59  Frottis ur�tral � frais  PARASITOLOGIE

     EVT_TYPE_EXAMEN_VALUE           TYPE
5  Frottis vaginal culture  BACTERIOLOGIE

  EVT_TYPE_EXAMEN_VALUE           TYPE
6  Frottis vaginal gram  BACTERIOLOGIE

      EVT_TYPE_EXAMEN_VALUE           TYPE
60  Frottis vaginal � frais  PARASITOLOGIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
20                  G-GT  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE         TYPE
36       Globules blancs  HEMATOLOGIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
22            Glycosurie  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
21              Glyc�mie  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE           TYPE
62        Goutte fra�che  PARASITOLOGIE

   EVT_TYPE_EXAMEN_VALUE           TYPE
61        Goutte �paisse  PARASITOLOGIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
76                   HCV  SEROLOGIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
24       HDL-Cholest�rol  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
23                 HbA1c  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
75                 HbSAg  SEROLOGIE

   EVT_TYPE_EXAMEN_VALUE         TYPE
37           H�matocrite  HEMATOLOGIE

   EVT_TYPE_EXAMEN_VALUE         TYPE
38           H�moglobine  HEMATOLOGIE

   EVT_TYPE_EXAMEN_VALUE         TYPE
39    H�mogramme complet  HEMATOLOGIE

    EVT_TYPE_EXAMEN_VALUE       TYPE
25  Ionogramme de routine  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
26       LDL Cholest�rol  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE          TYPE
48                    LH  HORMONOLOGIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
27                Lipase  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
28             Magn�sium  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE          TYPE
51                   PSA  HORMONOLOGIE

Empty DataFrame
Columns: [EVT_TYPE_EXAMEN_VALUE, TYPE]
Index: []

   EVT_TYPE_EXAMEN_VALUE       TYPE
29             Phosphore  BIOCHIMIE

Empty DataFrame
Columns: [EVT_TYPE_EXAMEN_VALUE, TYPE]
Index: []

   EVT_TYPE_EXAMEN_VALUE          TYPE
49          Progest�rone  HORMONOLOGIE

   EVT_TYPE_EXAMEN_VALUE          TYPE
50            Prolactine  HORMONOLOGIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
30       Prot�ines total  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
31           Prot�inurie  BIOCHIMIE

Empty DataFrame
Columns: [EVT_TYPE_EXAMEN_VALUE, TYPE]
Index: []

   EVT_TYPE_EXAMEN_VALUE       TYPE
77               Rubeole  SEROLOGIE

   EVT_TYPE_EXAMEN_VALUE           TYPE
64    Selles concentr�es  PARASITOLOGIE

   EVT_TYPE_EXAMEN_VALUE           TYPE
65       Selles directes  PARASITOLOGIE

  EVT_TYPE_EXAMEN_VALUE           TYPE
7          Spermogramme  BACTERIOLOGIE

   EVT_TYPE_EXAMEN_VALUE           TYPE
63     S�diment urinaire  PARASITOLOGIE

   EVT_TYPE_EXAMEN_VALUE          TYPE
52                    T3  HORMONOLOGIE

   EVT_TYPE_EXAMEN_VALUE          TYPE
53                    T4  HORMONOLOGIE

   EVT_TYPE_EXAMEN_VALUE           TYPE
66         TDR Paludisme  PARASITOLOGIE

   EVT_TYPE_EXAMEN_VALUE          TYPE
57                   TSH  HORMONOLOGIE

        EVT_TYPE_EXAMEN_VALUE         TYPE
41  Temps de coagulation (TC)  HEMATOLOGIE

       EVT_TYPE_EXAMEN_VALUE         TYPE
42  Temps de saignement (TS)  HEMATOLOGIE

   EVT_TYPE_EXAMEN_VALUE         TYPE
43          Test d'Emmel  HEMATOLOGIE

   EVT_TYPE_EXAMEN_VALUE          TYPE
54     Test de grossesse  HORMONOLOGIE

   EVT_TYPE_EXAMEN_VALUE          TYPE
55          Testost�rone  HORMONOLOGIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
78                  Toxo  SEROLOGIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
32          Triglyc�ride  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE          TYPE
56             Troponine  HORMONOLOGIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
33                  Ur�e  BIOCHIMIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
79             VDRL/TPHA  SEROLOGIE

            EVT_TYPE_EXAMEN_VALUE         TYPE
44  Vitesse de s�dimentation (VS)  HEMATOLOGIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
80              Widal TH  SEROLOGIE

   EVT_TYPE_EXAMEN_VALUE       TYPE
81              Widal TO  SEROLOGIE

In [133]:
df.head(20)

                          EVT_PREL_FAIT      COMPLETED
EVT_TYPE_EXAMEN_VALUE
ABO & RH (D)                         58    HEMATOLOGIE
AFP                                   3   HORMONOLOGIE
ALAT (GPT)                           32      BIOCHIMIE
ASAT (GOT)                           32      BIOCHIMIE
ASLO quantitatif                     31      SEROLOGIE
Ac H pylori (sang)                  134      SEROLOGIE
Ac HIV 1 & 2                         94      SEROLOGIE
Acide urique                         15      BIOCHIMIE
Ag Chlamydia trachomatis              5      SEROLOGIE
Albumine                              1      BIOCHIMIE
Amylase                              17      BIOCHIMIE
Bandelette urinaire (BU)              2      BIOCHIMIE
Bilirubine directe                    7      BIOCHIMIE
Bilirubine indirecte                  7      BIOCHIMIE
Bilirubine totale                     7      BIOCHIMIE
CRP Quantitative                    411      SEROLOGIE
Cholest�rol total                    49      BIOCHIMIE
Cr�atinine                          122      BIOCHIMIE
D-DIMER                               5      SEROLOGIE
ECBU / Uroculture                    14  BACTERIOLOGIE

In [129]:
#df2.groupby(['EVT_TYPE_EXAMEN_VALUE']).sum()

In [130]:
#pd.concat([df, df2]).groupby(["EVT_TYPE_EXAMEN_VALUE"], as_index=False)["TYPE"].sum()