In [1]:
# LOAD DATASET

In [2]:
import pandas as pd
import io

In [3]:
raw = pd.read_csv("dataset/LABO15.csv", sep=';')

In [4]:
# RESHAPE
## EVT_PREL_FAIT, EVT_TYPE_EXAMEN_VALUE, Date

In [5]:
df = raw.loc[:,['EVT_TYPE_EXAMEN_VALUE', 'Date', 'EVT_PREL_FAIT']]
#df = raw["EVT_TYPE_EXAMEN_VALUE"]
print(df)

     EVT_TYPE_EXAMEN_VALUE        Date  EVT_PREL_FAIT
0                      NaN  01-janv-21          False
1          Selles directes  01-janv-21           True
2                 Widal TO  01-janv-21           True
3            TDR Paludisme  01-janv-21           True
4                 Widal TH  01-janv-21           True
...                    ...         ...            ...
4468                   NaN  15-janv-21          False
4469              Widal TH  15-janv-21           True
4470              Widal TO  15-janv-21           True
4471            Cr�atinine  15-janv-21           True
4472         TDR Paludisme  15-janv-21           True

[4473 rows x 3 columns]

In [6]:
df.groupby(['EVT_TYPE_EXAMEN_VALUE']).count()

                               Date  EVT_PREL_FAIT
EVT_TYPE_EXAMEN_VALUE
ABO & RH (D)                     58             58
AFP                               3              3
ALAT (GPT)                       32             32
ASAT (GOT)                       32             32
ASLO quantitatif                 31             31
...                             ...            ...
Ur�e                            123            123
VDRL/TPHA                        74             74
Vitesse de s�dimentation (VS)   260            260
Widal TH                        215            215
Widal TO                        215            215

[79 rows x 2 columns]

In [116]:
df.shape

(4473, 3)

In [117]:
# IMPORT TYPE EXAM

In [118]:
raw2 = pd.read_csv("dataset/TYPE_EX.csv", sep=';')

In [119]:
print(raw2)

             EVT_TYPE_EXAMEN_VALUE           TYPE
0                ECBU / Uroculture  BACTERIOLOGIE
1              Ecouvillon de gorge  BACTERIOLOGIE
2   Ecouvillon de l'oreille droite  BACTERIOLOGIE
3   Ecouvillon de l'oreille gauche  BACTERIOLOGIE
4             Frottis ur�tral gram  BACTERIOLOGIE
..                             ...            ...
77                         Rubeole      SEROLOGIE
78                            Toxo      SEROLOGIE
79                       VDRL/TPHA      SEROLOGIE
80                        Widal TH      SEROLOGIE
81                        Widal TO      SEROLOGIE

[82 rows x 2 columns]

In [120]:
df2 = raw2.loc[:,['EVT_TYPE_EXAMEN_VALUE', 'TYPE']]
print(raw2)

             EVT_TYPE_EXAMEN_VALUE           TYPE
0                ECBU / Uroculture  BACTERIOLOGIE
1              Ecouvillon de gorge  BACTERIOLOGIE
2   Ecouvillon de l'oreille droite  BACTERIOLOGIE
3   Ecouvillon de l'oreille gauche  BACTERIOLOGIE
4             Frottis ur�tral gram  BACTERIOLOGIE
..                             ...            ...
77                         Rubeole      SEROLOGIE
78                            Toxo      SEROLOGIE
79                       VDRL/TPHA      SEROLOGIE
80                        Widal TH      SEROLOGIE
81                        Widal TO      SEROLOGIE

[82 rows x 2 columns]

In [121]:
df2.groupby(['EVT_TYPE_EXAMEN_VALUE']).sum()

                                       TYPE
EVT_TYPE_EXAMEN_VALUE
ABO & RH (D)                    HEMATOLOGIE
AFP                            HORMONOLOGIE
ALAT (GPT)                        BIOCHIMIE
ASAT (GOT)                        BIOCHIMIE
ASLO quantitatif                  SEROLOGIE
...                                     ...
VDRL/TPHA                         SEROLOGIE
Vitesse de s�dimentation (VS)   HEMATOLOGIE
Widal TH                          SEROLOGIE
Widal TO                          SEROLOGIE
beta-HCG                       HORMONOLOGIE

[82 rows x 1 columns]

In [126]:
pd.concat([df, df2]).groupby(["EVT_TYPE_EXAMEN_VALUE"], as_index=False)["TYPE"].sum()

            EVT_TYPE_EXAMEN_VALUE          TYPE
0                    ABO & RH (D)           NaN
1                             AFP           NaN
2                      ALAT (GPT)           NaN
3                      ASAT (GOT)           NaN
4                ASLO quantitatif           NaN
..                            ...           ...
80                      VDRL/TPHA           NaN
81  Vitesse de s�dimentation (VS)           NaN
82                       Widal TH           NaN
83                       Widal TO           NaN
84                       beta-HCG  HORMONOLOGIE

[85 rows x 2 columns]