In [160]:
# LOAD DATASET

In [161]:
import pandas as pd
import io

In [162]:
raw = pd.read_csv("dataset/JAN/LABO15.csv", sep=';')

In [163]:
# RESHAPE
## EVT_PREL_FAIT, EVT_TYPE_EXAMEN_VALUE, Date

In [164]:
df = raw.loc[:,['EVT_TYPE_EXAMEN_VALUE', 'EVT_PREL_FAIT', 'COMPLETED']]
#df = raw["EVT_TYPE_EXAMEN_VALUE"]
print(df)

     EVT_TYPE_EXAMEN_VALUE  EVT_PREL_FAIT  COMPLETED
0                      NaN          False      False
1          Selles directes           True       True
2                 Widal TO           True       True
3            TDR Paludisme           True       True
4                 Widal TH           True       True
...                    ...            ...        ...
4468                   NaN          False      False
4469              Widal TH           True       True
4470              Widal TO           True       True
4471            Cr�atinine           True       True
4472         TDR Paludisme           True       True

[4473 rows x 3 columns]

In [165]:
df = df.groupby(['EVT_TYPE_EXAMEN_VALUE']).count()

In [166]:
df.shape
df.head(20)

                          EVT_PREL_FAIT  COMPLETED
EVT_TYPE_EXAMEN_VALUE
ABO & RH (D)                         58         58
AFP                                   3          3
ALAT (GPT)                           32         32
ASAT (GOT)                           32         32
ASLO quantitatif                     31         31
Ac H pylori (sang)                  134        134
Ac HIV 1 & 2                         94         94
Acide urique                         15         15
Ag Chlamydia trachomatis              5          5
Albumine                              1          1
Amylase                              17         17
Bandelette urinaire (BU)              2          2
Bilirubine directe                    7          7
Bilirubine indirecte                  7          7
Bilirubine totale                     7          7
CRP Quantitative                    411        411
Cholest�rol total                    49         49
Cr�atinine                          122        122
D-DIMER                               5          5
ECBU / Uroculture                    14         14

In [167]:
# IMPORT TYPE EXAM

In [168]:
raw2 = pd.read_csv("dataset/JAN/TYPE_EX.csv", sep=';')

In [169]:
print(raw2)

             EVT_TYPE_EXAMEN_VALUE           TYPE
0                ECBU / Uroculture  BACTERIOLOGIE
1              Ecouvillon de gorge  BACTERIOLOGIE
2   Ecouvillon de l'oreille droite  BACTERIOLOGIE
3   Ecouvillon de l'oreille gauche  BACTERIOLOGIE
4             Frottis ur�tral gram  BACTERIOLOGIE
..                             ...            ...
77                         Rubeole      SEROLOGIE
78                            Toxo      SEROLOGIE
79                       VDRL/TPHA      SEROLOGIE
80                        Widal TH      SEROLOGIE
81                        Widal TO      SEROLOGIE

[82 rows x 2 columns]

In [173]:
df = df.astype({"COMPLETED": str})

for index, row in df.iterrows():
    print()
    df.at[index, 'COMPLETED'] = ""
    print(row)

EVT_PREL_FAIT    58
COMPLETED
Name: ABO & RH (D), dtype: object

EVT_PREL_FAIT    3
COMPLETED
Name: AFP, dtype: object

EVT_PREL_FAIT    32
COMPLETED
Name: ALAT (GPT), dtype: object

EVT_PREL_FAIT    32
COMPLETED
Name: ASAT (GOT), dtype: object

EVT_PREL_FAIT    31
COMPLETED
Name: ASLO quantitatif, dtype: object

EVT_PREL_FAIT    134
COMPLETED
Name: Ac H pylori (sang), dtype: object

EVT_PREL_FAIT    94
COMPLETED
Name: Ac HIV 1 & 2, dtype: object

EVT_PREL_FAIT    15
COMPLETED
Name: Acide urique, dtype: object

EVT_PREL_FAIT    5
COMPLETED
Name: Ag Chlamydia trachomatis, dtype: object

EVT_PREL_FAIT    1
COMPLETED
Name: Albumine, dtype: object

EVT_PREL_FAIT    17
COMPLETED
Name: Amylase, dtype: object

EVT_PREL_FAIT    2
COMPLETED
Name: Bandelette urinaire (BU), dtype: object

EVT_PREL_FAIT    7
COMPLETED
Name: Bilirubine directe, dtype: object

EVT_PREL_FAIT    7
COMPLETED
Name: Bilirubine indirecte, dtype: object

EVT_PREL_FAIT    7
COMPLETED
Name: Bilirubine totale, dtype: object

EVT_PREL_FAIT    411
COMPLETED
Name: CRP Quantitative, dtype: object

EVT_PREL_FAIT    49
COMPLETED
Name: Cholest�rol total, dtype: object

EVT_PREL_FAIT    122
COMPLETED
Name: Cr�atinine, dtype: object

EVT_PREL_FAIT    5
COMPLETED
Name: D-DIMER, dtype: object

EVT_PREL_FAIT    14
COMPLETED
Name: ECBU / Uroculture, dtype: object

EVT_PREL_FAIT    1
COMPLETED
Name: Ecouvillon de l'oreille gauche, dtype: object

EVT_PREL_FAIT    9
COMPLETED
Name: FSH, dtype: object

EVT_PREL_FAIT    45
COMPLETED
Name: Fact. Rhumat. Quantitatif, dtype: object

EVT_PREL_FAIT    24
COMPLETED
Name: Formule leucocytaire, dtype: object

EVT_PREL_FAIT    1
COMPLETED
Name: Frottis sanguin, dtype: object

EVT_PREL_FAIT    5
COMPLETED
Name: Frottis ur�tral gram, dtype: object

EVT_PREL_FAIT    8
COMPLETED
Name: Frottis ur�tral � frais, dtype: object

EVT_PREL_FAIT    4
COMPLETED
Name: Frottis vaginal culture, dtype: object

EVT_PREL_FAIT    50
COMPLETED
Name: Frottis vaginal gram, dtype: object

EVT_PREL_FAIT    92
COMPLETED
Name: Frottis vaginal � frais, dtype: object

EVT_PREL_FAIT    1
COMPLETED
Name: G-GT, dtype: object

EVT_PREL_FAIT    79
COMPLETED
Name: Globules blancs, dtype: object

EVT_PREL_FAIT    4
COMPLETED
Name: Glycosurie, dtype: object

EVT_PREL_FAIT    144
COMPLETED
Name: Glyc�mie, dtype: object

EVT_PREL_FAIT    13
COMPLETED
Name: Goutte fra�che, dtype: object

EVT_PREL_FAIT    235
COMPLETED
Name: Goutte �paisse, dtype: object

EVT_PREL_FAIT    21
COMPLETED
Name: HCV, dtype: object

EVT_PREL_FAIT    48
COMPLETED
Name: HDL-Cholest�rol, dtype: object

EVT_PREL_FAIT    16
COMPLETED
Name: HbA1c, dtype: object

EVT_PREL_FAIT    23
COMPLETED
Name: HbSAg, dtype: object

EVT_PREL_FAIT    10
COMPLETED
Name: H�matocrite, dtype: object

EVT_PREL_FAIT    12
COMPLETED
Name: H�moglobine, dtype: object

EVT_PREL_FAIT    489
COMPLETED
Name: H�mogramme complet, dtype: object

EVT_PREL_FAIT    18
COMPLETED
Name: Ionogramme de routine, dtype: object

EVT_PREL_FAIT    50
COMPLETED
Name: LDL Cholest�rol, dtype: object

EVT_PREL_FAIT    3
COMPLETED
Name: LH, dtype: object

EVT_PREL_FAIT    29
COMPLETED
Name: Lipase, dtype: object

EVT_PREL_FAIT    2
COMPLETED
Name: Magn�sium, dtype: object

EVT_PREL_FAIT    11
COMPLETED
Name: PSA, dtype: object

EVT_PREL_FAIT    1
COMPLETED
Name: Phosphatases alcalines (PAL), dtype: object

EVT_PREL_FAIT    2
COMPLETED
Name: Phosphore, dtype: object

EVT_PREL_FAIT    1
COMPLETED
Name: Plaquette, dtype: object

EVT_PREL_FAIT    4
COMPLETED
Name: Progest�rone, dtype: object

EVT_PREL_FAIT    1
COMPLETED
Name: Prolactine, dtype: object

EVT_PREL_FAIT    1
COMPLETED
Name: Prot�ines total, dtype: object

EVT_PREL_FAIT    13
COMPLETED
Name: Prot�inurie, dtype: object

EVT_PREL_FAIT    2
COMPLETED
Name: Prot�inurie de 24h, dtype: object

EVT_PREL_FAIT    14
COMPLETED
Name: Rubeole, dtype: object

EVT_PREL_FAIT    3
COMPLETED
Name: Selles concentr�es, dtype: object

EVT_PREL_FAIT    125
COMPLETED
Name: Selles directes, dtype: object

EVT_PREL_FAIT    1
COMPLETED
Name: Spermogramme, dtype: object

EVT_PREL_FAIT    286
COMPLETED
Name: S�diment urinaire, dtype: object

EVT_PREL_FAIT    2
COMPLETED
Name: T3, dtype: object

EVT_PREL_FAIT    4
COMPLETED
Name: T4, dtype: object

EVT_PREL_FAIT    223
COMPLETED
Name: TDR Paludisme, dtype: object

EVT_PREL_FAIT    10
COMPLETED
Name: TSH, dtype: object

EVT_PREL_FAIT    30
COMPLETED
Name: Temps de coagulation (TC), dtype: object

EVT_PREL_FAIT    30
COMPLETED
Name: Temps de saignement (TS), dtype: object

EVT_PREL_FAIT    1
COMPLETED
Name: Test d'Emmel, dtype: object

EVT_PREL_FAIT    11
COMPLETED
Name: Test de grossesse, dtype: object

EVT_PREL_FAIT    4
COMPLETED
Name: Testost�rone, dtype: object

EVT_PREL_FAIT    3
COMPLETED
Name: Toxo, dtype: object

EVT_PREL_FAIT    49
COMPLETED
Name: Triglyc�ride, dtype: object

EVT_PREL_FAIT    1
COMPLETED
Name: Troponine, dtype: object

EVT_PREL_FAIT    123
COMPLETED
Name: Ur�e, dtype: object

EVT_PREL_FAIT    74
COMPLETED
Name: VDRL/TPHA, dtype: object

EVT_PREL_FAIT    260
COMPLETED
Name: Vitesse de s�dimentation (VS), dtype: object

EVT_PREL_FAIT    215
COMPLETED
Name: Widal TH, dtype: object

EVT_PREL_FAIT    215
COMPLETED
Name: Widal TO, dtype: object

In [176]:
raw2.AFP
#df2 = raw2.loc[:,['EVT_TYPE_EXAMEN_VALUE', 'TYPE']]
#print(df2)

AttributeError: 'DataFrame' object has no attribute 'AFP'

In [172]:
#df2.groupby(['EVT_TYPE_EXAMEN_VALUE']).sum()

In [36]:
#pd.concat([df, df2]).groupby(["EVT_TYPE_EXAMEN_VALUE"], as_index=False)["TYPE"].sum()