<a href="https://colab.research.google.com/github/guillainbisimwa/hpnk-indicateurs/blob/master/labo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
# Importer un csv

In [22]:
import pandas as pd
import io

In [23]:
#from google.colab import files
#uploaded = files.upload()

In [24]:
#df = pd.read_csv(io.BytesIO(uploaded['labo3.csv'])) 
df = pd.read_csv("dataset/JAN/LABO15.csv", sep=';') 
print(df)

      Code        Nom      Postnom     Pr?nom        Date  COMPLETED  \
0      NaN    nabintu     musafiri   abiga?le  01-janv-21      False
1      NaN  mulungula  kilindilizi        NaN  01-janv-21       True
2      NaN  mulungula  kilindilizi        NaN  01-janv-21       True
3      NaN  mulungula  kilindilizi        NaN  01-janv-21       True
4      NaN  mulungula  kilindilizi        NaN  01-janv-21       True
...    ...        ...          ...        ...         ...        ...
4468   NaN    Itongwa        Iluba  S?bastien  15-janv-21      False
4469   NaN    Itongwa        Iluba  S?bastien  15-janv-21       True
4470   NaN    Itongwa        Iluba  S?bastien  15-janv-21       True
4471   NaN    Itongwa        Iluba  S?bastien  15-janv-21       True
4472   NaN    Itongwa        Iluba  S?bastien  15-janv-21       True

      EVT_DATE_LAB_PREL EVT_LAB_PREL_NUM  EVT_PREL_FAIT EVT_TYPE_EXAMEN_VALUE
0                   NaN              NaN          False                   NaN
1                   NaN              oo1           True       Selles directes
2                   NaN              001           True              Widal TO
3                   NaN              001           True         TDR Paludisme
4                   NaN              oo7           True              Widal TH
...                 ...              ...            ...                   ...
4468                NaN              NaN          False                   NaN
4469                NaN              V55           True              Widal TH
4470                NaN              V55           True              Widal TO
4471                NaN              V55           True            Cr?atinine
4472                NaN              V55           True         TDR Paludisme

[4473 rows x 10 columns]

In [25]:
df.head(10)

,Code,Nom,Postnom,Pr?nom,Date,COMPLETED,EVT_DATE_LAB_PREL,EVT_LAB_PREL_NUM,EVT_PREL_FAIT,EVT_TYPE_EXAMEN_VALUE
0,NaN,nabintu,musafiri,abiga?le,01-janv-21,False,NaN,NaN,False,NaN
1,NaN,mulungula,kilindilizi,NaN,01-janv-21,True,NaN,oo1,True,Selles directes
2,NaN,mulungula,kilindilizi,NaN,01-janv-21,True,NaN,001,True,Widal TO
3,NaN,mulungula,kilindilizi,NaN,01-janv-21,True,NaN,001,True,TDR Paludisme
4,NaN,mulungula,kilindilizi,NaN,01-janv-21,True,NaN,oo7,True,Widal TH
5,NaN,mulungula,kilindilizi,NaN,01-janv-21,True,NaN,001,True,S?diment urinaire
6,NaN,Katula,Mulashi,NaN,01-janv-21,True,NaN,B06,True,H?mogramme complet
7,NaN,Katula,Mulashi,NaN,01-janv-21,True,NaN,B06,True,Ac HIV 1 & 2
8,NaN,Katula,Mulashi,NaN,01-janv-21,True,NaN,Bo6,True,CRP Quantitative
9,NaN,Katula,Mulashi,NaN,01-janv-21,True,NaN,B06,True,Glyc?mie

In [26]:
examen = df["EVT_TYPE_EXAMEN_VALUE"]
print(examen)

0                   NaN
1       Selles directes
2              Widal TO
3         TDR Paludisme
4              Widal TH
             ...
4468                NaN
4469           Widal TH
4470           Widal TO
4471         Cr?atinine
4472      TDR Paludisme
Name: EVT_TYPE_EXAMEN_VALUE, Length: 4473, dtype: object

In [27]:
df.describe()

               Code  EVT_DATE_LAB_PREL
count  3.594000e+03                0.0
mean   1.470268e+05                NaN
std    4.860690e+05                NaN
min    5.238000e+03                NaN
25%    1.298500e+05                NaN
50%    1.301480e+05                NaN
75%    1.305010e+05                NaN
max    1.303041e+07                NaN

In [29]:
df.loc[:,['EVT_TYPE_EXAMEN_VALUE']]

     EVT_TYPE_EXAMEN_VALUE
0                      NaN
1          Selles directes
2                 Widal TO
3            TDR Paludisme
4                 Widal TH
...                    ...
4468                   NaN
4469              Widal TH
4470              Widal TO
4471            Cr?atinine
4472         TDR Paludisme

[4473 rows x 1 columns]

In [31]:
df.shape

(4473, 10)

In [35]:
df.groupby(['EVT_TYPE_EXAMEN_VALUE']).count()

,Code,Nom,Postnom,Pr?nom,Date,COMPLETED,EVT_DATE_LAB_PREL,EVT_LAB_PREL_NUM,EVT_PREL_FAIT
EVT_TYPE_EXAMEN_VALUE,,,,,,,,,
ABO & RH (D),49,58,54,28,58,58,0,58,58
AFP,2,3,2,3,3,3,0,3,3
ALAT (GPT),22,32,28,17,32,32,0,32,32
ASAT (GOT),22,32,28,17,32,32,0,32,32
ASLO quantitatif,25,31,29,17,31,31,0,31,31
...,...,...,...,...,...,...,...,...,...
Ur?e,90,123,113,61,123,123,0,123,123
VDRL/TPHA,58,74,65,38,74,74,0,74,74
Vitesse de s?dimentation (VS),216,260,230,118,260,260,0,259,260
Widal TH,179,215,194,101,215,215,0,215,215
Widal TO,179,215,194,101,215,215,0,215,215

In [36]:
#df.groupby(['EVT_TYPE_EXAMEN_VALUE', 'Date']).count()

In [38]:
df.groupby(['EVT_TYPE_EXAMEN_VALUE'])['EVT_TYPE_EXAMEN_VALUE'].count()

EVT_TYPE_EXAMEN_VALUE
ABO & RH (D)                      58
AFP                                3
ALAT (GPT)                        32
ASAT (GOT)                        32
ASLO quantitatif                  31
                                ...
Ur?e                             123
VDRL/TPHA                         74
Vitesse de s?dimentation (VS)    260
Widal TH                         215
Widal TO                         215
Name: EVT_TYPE_EXAMEN_VALUE, Length: 79, dtype: int64

In [15]:
a = "1992"

In [16]:
a

'1992'

In [17]:
b = a[:4]

In [19]:
2022-int(b)

30