In [17]:
import pandas as pd

In [18]:
# Initialize data to lists.
data = [{'a': 1, 'b': 2, 'c': 3},
        {'a': 10, 'b': 20, 'c': 30}]
  
# Creates DataFrame.
df = pd.DataFrame(data)
  
# Print the data
df

    a   b   c
0   1   2   3
1  10  20  30

In [19]:
x = [{
  "name": "John",
  "age": 30,
  "city": "New York"
},
{
  "name": "John2",
  "age": 300,
  "city": "New York2"
}]

In [20]:
y = {
  "name": "John",
  "age": 30,
  "city": "New York"
}
y['age'] = 0

x.append(y)

In [21]:
x

[{'name': 'John', 'age': 30, 'city': 'New York'},
 {'name': 'John2', 'age': 300, 'city': 'New York2'},
 {'name': 'John', 'age': 0, 'city': 'New York'}]